<div class="modal-dialog">
    <div class="modal-content" >
        <div class="modal-header">
            <h5 class="modal-title">Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>un compte avec la meme cin ou email existe, vous pouver aller sur la page d'accueil</p>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Fermer" class="btn btn-primary" />
        </div>
    </div>
</div>
