<div class="row full-width">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <footer>
            <div class="footer-container">
                <img src="~/images/Logo.png" class="footer-logo">
                <br>
                <p>Contacter nous</p>
                <br>
                <p>Apropos de nous</p>
                <br>
                <br>
                <p>©     copyrights GetWell 2021 - tous droits réservés</p>
            </div>
        </footer>
    </div>
</div>

