<header>
    <nav class="navbar">
        <a class="navbar-brand" href="/home">
            <img src="~/Images/Logo.png" class="Logo">
        </a>
        <form class="d-flex">
            <div class="doctor-name-nav-form">
                <div class="name">
                    Docteur
                    <b id="doc-name">Mohamed Talibi</b>
                </div>
            </div>
        </form>
    </nav>
</header>
